# created by Ginthon

#
.venv/
.idea/
.vscode/
.svelte-kit/
build/
node_modules/
.task/
Ginthon.app/
dist/

# OS
.DS_Store
Thumbs.db

#
.env
.env.*

#
.zip
.dmg
.xlsx
.docs
.pdf
.log
.cache
Ginthon
Ginthon.exe
Tray
Tray.exe
