altgraph==0.17.5
anyio==4.11.0
asyncio==4.0.0
attrs==25.4.0
Automat==25.4.16
beautifulsoup4==4.14.2
blinker==1.9.0
bottle==0.13.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
constantly==23.10.4
cryptography==46.0.3
cssselect==1.3.0
defusedxml==0.7.1
fake-useragent==2.2.0
filelock==3.20.0
Flask==3.1.2
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.11
incremental==24.7.2
itemadapter==0.12.2
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
lxml==6.0.2
macholib==1.16.4
MarkupSafe==3.0.3
outcome==1.3.0.post0
packaging==25.0
parsel==1.10.0
playwright==1.56.0
Protego==0.5.0
proxy_tools==0.1.0
psutil==7.1.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pycryptodome==3.23.0
PyDispatcher==2.0.7
pyee==13.0.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.10
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Quartz==12.1
pyobjc-framework-Security==12.1
pyobjc-framework-UniformTypeIdentifiers==12.1
pyobjc-framework-WebKit==12.1
pyOpenSSL==25.3.0
PySocks==1.7.1
pywebview==6.1
queuelib==1.8.0
requests==2.32.5
requests-file==3.0.1
schedule==1.2.2
Scrapy==2.13.4
selenium==4.38.0
service-identity==24.2.0
setuptools==80.9.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
tldextract==5.3.0
trio==0.32.0
trio-websocket==0.12.2
Twisted==25.5.0
typing_extensions==4.15.0
urllib3==2.5.0
w3lib==2.3.1
websocket-client==1.9.0
Werkzeug==3.1.3
wsproto==1.3.2
zope.interface==8.1.1
